.all{
    background-image: url("https://cdn.pixabay.com/photo/2017/07/07/06/39/deer-2480537_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: bisque;
    font-size: 25px;
}
header{
    background-color: blueviolet;
    color: white;
    text-align: end;
}
