*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.all{
    background-image: url("https://cdn.pixabay.com/photo/2017/07/07/06/39/deer-2480537_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: bisque;
    font-size: 25px;
}
header{
    background-color: blueviolet;
    color: white;
    text-align: end;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav ul li{
    list-style: none;
    padding: 30px;
    
}
nav{
    display: flex;
}
nav .list ul {
    display: flex;
    flex-direction: row;
}
nav .logo{
    padding: 10px;
}
nav .logo img{
    width:100px;
    height:100px;
    border-radius: 50%;
}
.contain{
    display: flex;
    min-height: calc(100vh - 140px);
    margin:auto 5%;
}
.contain .part1{
    flex: 1;
    text-align: center;
    margin: 10%;
}
.contain .part1 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}
.contain .part1 p, .contain .part1 h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}
.contain h3{
 font-size: larger;
}
.contain .part2{
    flex: 3;
}
.contain .part2>div{
    margin:5% 10%;
    align-items: flex-end;

}
.fl{
    display: flex;
    padding: 10px;
}
.fl div{
    padding: 10px;
}
.footer{
    background-color: blueviolet;
    padding: 20px;
    text-align: center;
}
.inside{
    display: flex;
    margin: 7%;
}
.map{  
      margin: 5%;
}
.form{
    margin: 5%;
    border: 2px solid green;
    box-shadow: 0px 0px 0px 10px green;
    background-color: beige;
}
.form input, .form label{
    padding: 10px;
}
.form label{
    padding: 20px auto;
}
.imglist{
    display: flex;
    flex-direction: column;
}
.imglist img{
    width: 250px;
    height: 250px;
}
.contain .head img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.contain .part11{
    flex: 1;
    text-align: center;
    margin: 10%;
}
.contain .part22{
    flex: 4;
    text-align: center;
    margin: 5%;
    
}
.contain .part22 img{
    padding: 10px;
    box-shadow: 1px 1px 0px 10px green;
    margin: 3px;
}
.wrap{
    position: relative;
    top: 40%;
    left: 20%;
}
.wrap ul li a{
    text-decoration: dotted;
    color: black;
    font-size: xx-large;
}
.wrap ul, .wrap ul li{
    display: flex;
    list-style: none;
    padding: 30px;
    margin: 20px;
    background-color: antiquewhite;
}
.wrap ul li:hover{
    background-color: blueviolet;
}
.questions{
    background-color: rgb(181, 255, 230);
    margin-left: 7%;
}
.questions div{
    margin: 40px;
}
